body {
    font-family: 'Poppins', sans-serif;
}

.cream-color {
    background-color: #FFF9F4;
}

.text-c {
    color: #FA804C;
}

.banner-txt-c {
    color: #363958;
}

.nike-btn {
    color: #fff;
    background-color: #3D4FF3;
}

.color-f1 {
    background-color: #F1F1F1;
}

.img-size {
    height: 280px;
    max-width: auto;
    text-align: center;
}

.icon-resize {
    width: 60px;
    height: auto;
}